body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.color-menu {
    background-color: #22233E;
    color: #fff !important;
}
.height{
    height:60px;
}

.altura-slider {
    height: 550px;
}

.altura-servicio {
    height: 380px;
}

.row {
    margin: 0;
    padding: 0;
    width: 100%;
}

.width-btn {
    width: 300px;
}

.margin-enlaces {
    padding-bottom: 75px;
    margin-right: 20px;
    margin-bottom: 70px;
}

.margin {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 75px;
    margin-bottom: 70px;
}

.color-footer {
    background-color: #22233E;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.color-div {
    background: #f9f9f9;
}

.text-color-footer {
    color: #c7c7c7;
    font-size: 11px;
    line-height: 16px;
}

.text-title {
    color: #22233E;
    margin-bottom: 20px;
    font-weight: 300;
    margin: 40px;
    padding-top: 50px;
}

.text-title-enlaces {
    color: #22233E;
    font-weight: 300;
    margin: 40px;
    padding-bottom: 30px;
}

.text-service {
    color: #22233E;
    margin-bottom: 20px;
    font-weight: 300;
    margin: 40px;
}

.text {
    font-size: 16px;
    color: #484444;
    font-style: italic;
    display: block;
    margin-bottom: 20px;
    font-weight: 300;
    margin: 40px;
    padding-top: 10px;
}

.nav-custom {
    background-color: #22233E;
    color: #fff;
    border-radius: 0;
    margin-bottom: 0;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

a {
    color: #fff;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
