@{
    ViewBag.Title = "Contactos";
}
<link href="~/Content/HomeDesign.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-danger Margin-img" style="margin-top: 4%">
            <div class="panel-heading text-center"><h3>Contactos</h3></div>
            <div class="panel-body">
                <div class="col-md-6">
                    <h5>Teléfonos</h5>
                    <ul>
                        <li>
                            <label title="Departamento Administrativo">
                                <strong>Departamento Administrativo:</strong>
                            </label>
                            8092559634
                        </li>
                        <li>
                            <label title="Departamento Administrativo">
                                <strong>Departamento de admisiones:</strong>
                            </label>
                            8092554215 Ext: 412
                        </li>
                        <li>
                            <label title="Departamento Administrativo">
                                <strong>Departamento de Servicios Estudiantil:</strong>
                            </label>
                            8092557896 Ext: 142
                        </li>
                        <li>
                            <label title="Departamento Administrativo">
                                <strong>Departamento de Gestión Doscente:</strong>
                            </label>
                            8092557896 Ext: 145
                        </li>
                        <li>
                            <label title="Departamento Administrativo">
                                <strong>Departamento Directivo:</strong>
                            </label>
                            8092557896 Ext: 146
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>Dirección</h5>
                    <address class="text-justify">
                        Escuela David Durán<br />
                        Avenida Máximo Gómez esquina Santiago, No.02 Gazcue,
                        Distrito Nacional, República Dominicana.<br />
                    </address>

                    <h5>
                        Correos
                    </h5>
                    <address>
                        <strong>Soporte:</strong>   <a href="mailto:Support@example.com" style="color:black">SupportDuran@gmail.com</a><br />
                        <strong>Escuela David Durán:</strong> <a href="mailto:Marketing@example.com" style="color:black">Escueladavidduran@gmail.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>

