
@{
    ViewBag.Title = "InfoAdmi";
}

<section id="banner">
    <div class="bg-color">
        <div class="container">
            <div class="row">
                <div class="inner text-left">
                    <h1 class="titu">¡No te quedes fuera!</h1>
                    <h2>Móntate con nosotros en la era digital,</h2>
                    <h3>te esperamos.</h3>
                </div>
            </div>
        </div>
    </div>
</section>
    <div id="pasos">
        <div id="pregunta">
            <h2>¿Qué necesitas?</h2>
            <p>Sigue estos sencillos pasos para completar tu proceso de admisión</p>
        </div>
        <div id="detalles">
            <div id="paso1">
                <h1>1</h1>
                <p>
                    Llenar formulario de solicitud
                    admisión, dirigirse al menú, admisiones,
                    solicitud admisión.
                </p>
            </div>
            <div id="paso2">
                <h1>2</h1>
                <p>
                    Llenar formulario (padre,
                    madre o tutor), dirigirse al centro
                    para completar el mismo.
                </p>
            </div>
            <div id="paso3">
                <h1>3</h1>
                <p>
                    Depositar documentos físicos
                    (originales) en el departamento
                    de admisiones del centro.
                </p>
            </div>
        </div>
    </div>

