
@{
    ViewBag.Title = "InfoAdmi";
}

<section id="banner">
    <div class="bg-color">
        <div class="container">
            <div class="row">
                <div class="inner text-left">
                    <h1 class="logo-name">Lorem</h1>
                    <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h2>
                    <p>¡Lorem ipsum dolor sit amet!</p>
                </div>
            </div>
        </div>
    </div>
</section>

