1000027d@{
    Layout = "~/Views/Shared/_InternalHome.cshtml";
}
<div>
    <h1>
        Aqui va una imagen  que no es esta, o lo que sea que quieran poner :)
    </h1>

    <img src="~/Image/vasily-koloda-8CqDvPuo_kI-unsplash.jpg" height="420" width="980" />
    
</div>