
@{
    ViewBag.Title = "Transparecia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/HomeDesign.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <h3 style="margin-top:5%; margin-left: 5%; margin-bottom: 4%"> <strong>PORTAL DE TRANSPARENCIA DE LIBRE ACCESO A LA INFORMACIÓN </strong> </h3>
        <div class="col-md-6">
            <img src="~/Image/edvin-johansson-UGGinojhaC0-unsplash.jpg" class="Margin-img" />
        </div>

        <div class="col-md-6">
            <p class="text-justify">
                La Escuela Básica David Durán, como institución de estudios primarios de carácter público y sin fines de lucro, se complace en poner a la disposición de la ciudadanía este portal de transparencia, para dar cumplimiento a lo establecido en la Ley No. 200-04 sobre Libre Acceso a la Información Pública y el Decreto No. 130-05, que crea el reglamento de la ley.
                Este portal tiene como finalidad garantizar el libre acceso a la información y satisfacer las necesidades de la población que requiera y solicite, debidamente, cualquier documentación relacionada a la Institución.
                En el mismo podrán encontrar información de manera completa, diáfana, transparente, útil, oportuna y de fácil acceso.

            </p>
        </div>
    </div>
</div>
