
@{
    ViewBag.Title = "InfoAdmi";
}

<section id="banner">
    <div class="bg-color">
        <div class="container">
            <div class="row">
                <div class="inner text-left">
                    <h1 class="titu">¡No te quedes fuera!</h1>
                    <h2>Móntate con nosotros en la era digital,</h2>
                    <h3>te esperamos.</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="pasos">
    <div id="pregunta">
        <h2>¿Qué necesitas?</h2>
        <p>Sigue estos sencillos pasos para completar tu proceso de admisión:</p>
    </div>
    <div id="detalles">
        <div id="paso1">
            <h1>1</h1>
            <p>
                Llenar formulario de solicitud
                admisión, dirigirse al menú, admisiones,
                solicitud admisión.
            </p>
        </div>
        <div id="paso2">
            <h1>2</h1>
            <p>
                Consultar datos del (padre,
                madre o tutor) para completar
                formulario de solicitud de
                admisión.
            </p>
        </div>
        <div id="paso3">
            <h1>3</h1>
            <p>
                Depositar documentos físicos
                (originales) en el departamento
                de admisiones del centro.
            </p>
        </div>
    </div>
</div>
<section id="listado">
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center" style="padding:10px;">
                    <h1 class="header-h1">Requisitos de Admisión</h1>
                    <p class="header-p1">
                        Estos son los documentos que deberás tener a mano a la hora de iniciar
                        tu proceso de admisión; en caso de no tener el conocimiento necesario, pedir ayuda a tus padres o tutores.
                    </p>
                </div>
                <div class="col-md-12" style="padding-bottom:10px;">
                    <div class="item active left">
                        <div class="col-md-6 col-sm-6 left-images">
                            <img src="~/Image/javier-trueba-iQPr1XkF5F0-unsplash.jpg" class="img-responsive">
                        </div>
                        <div class="col-md-6 col-sm-6 details-text">
                            <div class="content-holder">
                                <h3> - Documentos</h3>
                                <ul>
                                    <li>Acta de nacimiento original (en caso de ser extranjero puede ser una fotocopia, algunos casos requerirán traducción al español).</li>
                                    <li>Dos fotografías 2×2.</li>
                                    <li>Certificado Médico.</li>
                                    <li>Certificado de escolaridad (si el estudiante viene de otro Centro Educativo). Si tiene grados aprobados debe presentar el récord de notas.</li>
                                    <li>Fotocopias de las cédulas de los padres o pasaporte si son extranjeros.</li>
                                </ul>
                            </div>
                        </div>
                        <div id="empezar">
                            <p>¡Solicita tu admisión ya!</p>
                            <a href="/Admisiones/Create" type="button" class="btn">Iniciar Admisión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="info">
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div id="info1">
                    <div id="preg">
                        <h1>Para más Información</h1>
                    </div>
                    <div id="inftel">
                        <img src="~/Image/telefono.png" />
                        <p>Comunícate con nosotros a través de nuestra línea directa al 809-231-2774 / Ext. 402 - 404</p>
                    </div>
                    <div id="infcorreo">
                        <img src="~/Image/a.png" />
                        <p>Cominícate con nosotros a través de nuestro correo institucional infoescueladavidduran@gmail.com</p>
                    </div>
                    <div id="influgar">
                        <img src="~/Image/sitio.png" />
                        <p>Estamos ubicados en la Avenida Máximo Gómez esquina Santiago, No.02 Gazcue, Distrito Nacional, República Dominicana.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

