<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="~/css/Login.css">
<!------ Include the above in your HEAD tag ---------->

<div class="row">
    <div class="col-md-12">
        <img src="~/Image/Escuela Básica.png" alt="..." />
        <div class="col-md-6 sidenav">
            <div class="login-main-text">
                <h2>Application<br> Login Page</h2>
                <p>Educacion a tu alcance</p>
            </div>
        </div>
        <div class="login-form">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-black">Acceder</button>
                <button type="submit" class="btn btn-secondary">Registrar</button>
            </form>
        </div>
    </div>
</div>