@model Model.Asignar_Tarea

@{
    ViewBag.Title = "Delete";
}

@{
    Layout = "~/Views/Shared/_InternalHome.cshtml";
}

<h2 style="margin-left:150px; color:#22233E; font-size:30px; margin-top:50px; margin-bottom:50px">Eliminar Tarea</h2>

<h3 style="margin-left:150px; color:#22233E; font-size:20px; margin-top:50px; margin-bottom:50px">Está seguro de que desea eliminar esta tarea?</h3>
<div>

    <h2 style="margin-left:150px; color:#22233E;">@Html.DisplayFor(model => model.Titulo)</h2>

    <p style="margin-left:150px; margin-top:10px; color:black; text-align:justify">@Html.DisplayFor(model => model.Contenido)</p>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" style="margin-left:150px; margin-top:20px"/>
    </div>
        }
</div>
