@model Model.Materias


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InternalHome.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container col-md-9">
        <h3 class="navbar nav-custom text-center top-left">Calificaciones</h3>
        <br />
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>Materias</th>
                    <th>Calificacion</th>
                    <th>Rango</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lengua Espanola</td>
                    <td>85</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Matematicas</td>
                    <td>80</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Historia Dominicana</td>
                    <td>90</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Artistica</td>
                    <td>85</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>